/* --- ESTILOS GENERALES --- */
body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 15px;
    border: none;
}

.logo-header {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.header-principal {
    border-bottom: 2px solid #00cc6e !important;
    border-radius: 0;
    background-color: white;
    margin-bottom: 1.5rem;
}

.header-fino {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.sistema-txt {
    font-size: 0.5em;
    letter-spacing: 3px;
    vertical-align: middle;
}

.faja-footer {
    width: 100vw;
    height: 50px;
    object-fit: cover;
    display: block;
}

/* --- ANIMACIONES --- */
@keyframes glow {
    0% {
        text-shadow: 0 0 5px rgba(188, 188, 188, 0.2);
        color: #b8c2bd;
    }
    50% {
        text-shadow: 0 0 15px rgba(165, 167, 166, 0.6);
        color: #415049;
    }
    100% {
        text-shadow: 0 0 5px rgba(147, 147, 147, 0.2);
        color: #3f6955;
    }
}

.animar-titulo {
    animation: glow 3s infinite ease-in-out;
    transition: transform 0.2s;
}

.animar-titulo:hover {
    transform: translateY(-3px);
    filter: brightness(1.1);
}

/* --- TABLAS Y FORMULARIOS --- */
.form-control-sm {
    font-size: 0.85rem;
}

.table-responsive {
    border-radius: 15px;
}